package schema

import (
	"github.com/facebook/ent"
	"github.com/facebook/ent/schema/edge"
	"github.com/facebook/ent/schema/field"
)

// {{.Name}} holds the schema definition for the {{.Name}} entity.
type {{.Name}} struct {
	ent.Schema
}

// Fields of the {{.Name}}.
func ({{.Name}}) Fields() []ent.Field {
	return []ent.Field{
	{{- range .Attributes}}
	{{- if .Values}}
		field.Enum("{{.Name}}").Values({{range .Values}}"{{.}}",{{end}}){{if .Unique}}.Unique(){{end}}{{if .Immutable}}.Immutable(){{end}},
	{{else}}
		field.{{.Type}}{{if .Many}}s{{end}}("{{.Name}}"){{if .Required}}.NotEmpty(){{end}}{{if .Unique}}.Unique(){{end}}{{if .Immutable}}.Immutable(){{end}},
	{{- end}}
	{{- end}}
	}
}

// Edges of the {{.Name}}.	
func ({{.Name}}) Edges() []ent.Edge {
	return []ent.Edge{
	{{- range .Relations}}
	{{- if .Ref}}
		edge.From("{{.Name}}", {{.Type}}.Type){{if or (not .Many) .Unique}}.Unique(){{end}}.Ref("{{.Ref}}"),
	{{else}}
		edge.To("{{.Name}}", {{.Type}}.Type){{if or (not .Many) .Unique}}.Unique(){{end}},
	{{- end}}
	{{- end}}
	}
}
