{{- if .Values}}
enum {{.Name}} {
{{- range .Values}} 
    {{.}}
{{- end}}
}
{{- else}}
type {{.Name}} {
{{- range .Attributes}} 
{{- if .Many}} 
    {{.Name}}: [{{.Type}}!]{{if .Required}}!{{end}}
{{- else}}
    {{.Name}}: {{.Type}}{{if .Required}}!{{end}}
{{- end}}
{{- end}}
{{- range .Relations}} 
{{- if .Many}} 
    {{.Name}}: [{{.Type}}!]{{if .Required}}!{{end}}
{{- else}}
    {{.Name}}: {{.Type}}{{if .Required}}!{{end}}
{{- end}}
{{- end}}
}
{{- end}}
